<!----------- HEADER SECTION ------------->
<header class="visual">
  <div class="visual_line">
    <div class="headline_container">
      <div class="heading">
        <h1>Librarium <span>/ Your full name</span></h1>
      </div>
      <div class="items_container">
        <div class="image_item">
          <img src="./img/shopping-cart.png" alt="shopping-cart" class="shopping-cart" width="30px" height="30px">
        </div>
        <div class="button_item">
          <button type="submit">Sign out</button>
        </div>
        <div class="image_item">
          <img src="./img/avatar.png" alt="avatar" width="30px" height="30px">
        </div>
        <div class="span_item">
          <span>TestUser</span>
        </div>
      </div>
    </div>
  </div>
</header>